<div class="field flex flex-column gap-2">
    <label for={{name.toLowerCase()}}>{{capitalizeName}}</label>
    @if (type == "input") {
        <input 
            pInputText type={{inputType}}
            id={{name.toLowerCase()}}
            [(ngModel)]="value"
            (input)="onValueChanged()" />
    } 
    @if (type == "select") {
        <p-dropdown 
        [options]="listaValores" 
        [(ngModel)]="value" 
        [optionLabel]="isEnum ? undefined : '_displayValueField'" 
        [filter]="true"
        [filterBy]="isEnum ? undefined : '_filterField'" 
        placeholder="Selecione um valor"
        emptyMessage="Nenhum valor encontrado."
        (onChange)="onValueChanged()" />
    }
</div>